.App {
    background-image: url("./images/SiteBackground.jpg");
    background-color: #FFFFFF;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.child-header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.85);
}

.child-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.85);
}

.child-left-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.85);
    padding-right: 32px
}

.std-button {
    width: 100px;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6.4px 15px;
    gap: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    background: #1890FF;
    border-radius: 2px;
}

.register-right {
    background-image: url("./images/RegisterBackground.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.register-left {
    background-color: #FFFFFF;
    background-size: cover;
    background-image: none;
    width: 100%;
    height: 100vh;
    padding-top: 10vh;
}

.register-header {
    padding-left: 25%;
    font-size: 44px;
    font: Roboto;
    font-weight: 400;
    line-height: 46%;
}

.register-description {
    padding-left: 25%;
    width: 80%;
    font: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 131%;
    color: #333333;
    padding-top: 2%;
    padding-bottom: 3%;
}

.register-name-label {
    font-size: 20px;
    margin-bottom: 0px;
    font: Roboto;
    font-weight: 400;
    font-style: normal;
}

#register-btn {
    width: 280px;
    height: 80px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    font: Roboto;
    padding: 10px, 16px, 10px, 16px;
    color: #FFFFFF;
    background: #5C2CA4;
    border-radius: 30px;
    gap: 10px;
}

.register-welcome {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 7%;
    padding-bottom: 3%;
    font: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.85);
    text-align: center;
}

.register-welcome-description {
    padding-left: 10%;
    width: 90%;
    font: Roboto;
    font-size: large;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 131%;
    /* or 26px */
    text-align: center;
    color: #FFFFFF;
}

.register-welcome-bottom {
    font: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    /* identical to box height, or 60% */
    text-align: center;
    color: rgba(255, 255, 255, 0.85);
    width: 95%;
    position: absolute;
    bottom: 7%;
    padding-left: 5vw;
}

#parent-table-title {
    text-align: center;
    font-style: normal;
    font: Helvetica;
    font-weight: 400;
    font-size: 32px;
    line-height: 24px;
    padding-top: 2%;
    padding-bottom: 2%;
    color: rgba(0, 0, 0, 0.85);
}

.content {
    background-image: url("./images/SiteBackground.jpg");
    background-size: cover;
}

.image-wrapper {
    display: flex;
    justify-content: center;
}

#eth-logo {
    position: absolute;
    bottom: 10%;
    width: 60%;
}

#eth-legacy-logo {
    position: relative;
    top: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 80%;
}

.ant-menu {
    border-radius: 0 30px 0 0;
    background: none !important;
    color: #FFFFFF;
}

.ant-menu-item {
    background: none !important;
    color: #FFFFFF;
}

.ant-menu-item-selected {
    background: none !important;
    background: rgba(255, 255, 255, 0.2) !important;
    color: #FFFFFF !important;
}

.ant-menu-item-active {
    background: none !important;
    background: rgba(255, 255, 255, 0.1) !important;
    color: #FFFFFF !important;
}

.ant-layout-sider-children {
    background: none !important;
    background: rgba(255, 255, 255, 0.1) !important;
    border-radius: 0 30px 0 0;
}

.ant-layout-sider {
    border-radius: 0 30px 30px 0;
    background: rgba(255, 255, 255, 0.1) !important;
    background: none !important;
}

.ant-layout-sider-trigger {
    border-radius: 0 0 30px 0;
    background-color: #FFFFFF;
    background: rgba(255, 255, 255, 0.1) !important;
}

.ant-layout {
    background: none !important;
}

.ant-menu-inline {
    border-right: none !important;
}

.ant-menu-item:after {
    border-right: none !important;
}

.table-layout {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 30px;
    margin-top: 10%;
}

.child-add-form {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 30px;
    width: 50%;
    margin: auto;
}

#child-add-title {
    font: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 24px;
    /* identical to box height, or 60% */
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin: 5%;
    /* Inside auto layout */
}

.child-add-label {
    font: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    padding: 0;
    margin: 0;
    color: #595959;
}

#edit-assets-title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
}