@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,500,700,400italic,700italic&subset=latin,latin-ext);

.App {
    background-image: url("./images/SiteBackground.jpg");
    background-color: #FFFFFF;
    background-size: cover;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.child-header {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.85);
}

.edit-form {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 30px;
    width: 50vw;
    margin: auto;
}

.child-text {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.85);
}

.child-left-text {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: #595959;
    padding-right: 32px
}

.std-button {
    width: 100px;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6.4px 15px;
    gap: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    background: #1890FF;
    border-radius: 2px;
}

.register-right {
    background-image: url("./images/RegisterBackground.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.register-left {
    background-color: #FFFFFF;
    background-size: cover;
    background-image: none;
    width: 100%;
    height: 100vh;
    padding-top: 10vh;
}

.register-header {
    padding-left: 25%;
    font-size: 44px;
    font-family: 'Helvetica' !important;
    font-weight: 400;
    line-height: 46%;
    padding-top: 10%;
}

.register-description {
    padding-left: 25%;
    width: 80%;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 131%;
    color: #333333;
    padding-top: 2%;
    padding-bottom: 3%;
}

.register-name-label {
    font-size: 20px;
    margin-bottom: 0px;
    font: Roboto;
    font-weight: 400;
    font-style: normal;
}

.register-welcome {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 7%;
    padding-bottom: 3%;
    font: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.85);
    text-align: center;
}

.register-welcome-description {
    padding-left: 10%;
    width: 90%;
    font-family: 'Noto Sans', sans-serif;
    font-size: large;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 131%;
    /* or 26px */
    text-align: center;
    color: #FFFFFF;
}

.register-welcome-bottom {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 36px;
    /* identical to box height, or 60% */
    text-align: center;
    color: rgba(255, 255, 255, 0.85);
    width: 95%;
    position: absolute;
    bottom: 7%;
    padding-left: 5vw;
}

#register-btn {
    width: 280px;
    height: 80px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    font-family: 'Helvetica';
    color: #FFFFFF;
    background: #5C2CA4;
    border-radius: 30px;
    text-align: center;
    margin: 5%;
    border-color: #5C2CA4;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.1);
}

#parent-table-title {
    text-align: center;
    font-style: normal;
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 32px;
    line-height: 24px;
    padding-top: 2%;
    padding-bottom: 2%;
    color: rgba(0, 0, 0, 0.85);
}

.content {
    background-image: url("./images/SiteBackground.jpg");
    background-size: cover;
}

.image-wrapper {
    display: flex;
    justify-content: center;
}

#eth-logo {
    position: absolute;
    width: 60%;
    left: 10;
    bottom: 10vh;
}

#smart-contract-img {
    position: relative;
    margin-top: 10vh;
    border-radius: 30px;
    height: 60vh;
}

#eth-legacy-logo {
    position: relative;
    top: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 80%;
}

#eth-small-logo {
    width: 5%;
    display: inline;
    float: right;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 10px;
}

.login-left {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0 30px 30px 0;
    margin-top: 10vh;
    text-align: left;
    height: 60vh;
    overflow-x: auto;
}

.login-left-title {
    font: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    color: #000000;
    margin: 5%;
}

.login-left-description {
    font-family: 'Noto Sans', 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #333333;
    margin: 5%;
    margin-bottom: 0;
}

#login-btn {
    width: 280px;
    height: 80px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    font: Roboto;
    color: #FFFFFF;
    background: #5C2CA4;
    border-radius: 30px;
    text-align: center;
    margin: 5%;
    border-color: #5C2CA4;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.1);
}


/* justify-content: center;
align-items: center;
background: #5C2CA4;
box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.1);
border-radius: 30px;
width: 20vw;
height: 5vw;
font: Roboto;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 24px;

text-align: center;
color: #FFFFFF;
border-color: #5C2CA4; */

#login-top-img {
    width: 100%;
    height: 12vh;
    object-fit: cover;
}

#login-bottom {
    background-image: url("./images/LoginBottom.svg");
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
    height: 135vh;
}

#login-wrapper {
    background-image: url("./images/LoginBackground.png");
    height: 100vh;
    background-size: 100vw 100%;
    background-attachment: local;
    overflow-y: scroll;
    object-fit: contain;
}

.ant-menu {
    border-radius: 0 30px 0 0;
    background: none !important;
    color: #FFFFFF;
}

.ant-menu-item {
    background: none !important;
    color: #FFFFFF;
}

.ant-menu-item-selected {
    background: none !important;
    background: rgba(255, 255, 255, 0.2) !important;
    color: #FFFFFF !important;
}

.ant-menu-item-active {
    background: none !important;
    background: rgba(255, 255, 255, 0.1) !important;
    color: #FFFFFF !important;
}

.ant-layout-sider-children {
    background: none !important;
    background: rgba(255, 255, 255, 0.1) !important;
    border-radius: 0 30px 0 0;
}

.ant-table {
    background: none !important;
}

.ant-empty-normal:hover {
    background: unset !important;
}

.ant-table-tbody>tr>td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.06) !important;
}

.ant-table-tbody>tr>td:hover {
    background-color: unset !important;
}

.ant-table-cell-row-hover {
    background-color: unset !important;
}

.ant-table-thead>tr>th {
    background-color: #fafafa !important;
}

.ant-table-cell-fix-right {
    background-color: unset !important;
}

td.ant-table-column-sort {
    background: none !important;
}

.ant-layout-sider {
    border-radius: 0 30px 30px 0;
    background: none !important;
}

.ant-layout-sider-trigger {
    border-radius: 0 0 30px 0;
    background: rgba(255, 255, 255, 0.1) !important;
}

.ant-layout-sider-collapsed {
    background: none !important;
}

.ant-menu.ant-menu-inline-collapsed {
    background: none !important;
}

.ant-menu-vertical {
    border-right: 0cm !important;
}

.ant-layout {
    background: none !important;
}

.ant-menu-inline {
    border-right: none !important;
}

.ant-menu-item:after {
    border-right: none !important;
}

.table-layout {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 30px;
    margin-top: 8%;
}

.child-add-form {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 30px;
    text-align: center;
    width: 40%;
    margin: auto;
}

#child-add-title {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin: 4%;
}

.child-add-label {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 22px;
    padding: 0;
    margin: 0;
    color: #595959;
}

#child-add-btn {
    justify-content: center;
    align-items: center;
    background: #5C2CA4;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    width: 20vw;
    height: 5vw;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */
    text-align: center;
    color: #FFFFFF;
    border-color: #5C2CA4;
}

#edit-assets-title {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
}

#key-icon {
    width: 36px;
    height: 36px;
}